* {
    padding: 0;
    margin: 0;
}



ul {
    list-style: none;
}

.header {
    min-height: 44px;
    background-color: rgba(245, 245, 247, .8);
    padding: 10px;
}

.header-container {
    max-width: 996px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list a {
    font-size: 12px;
    letter-spacing: 0.12px;
    line-height: 12px;
    font-weight: 400;
    text-decoration: none;
    color: rgba(0, 0, 0, .8);;
}

.logo { 
    display: flex;
    align-items: center;
}

.nav-list text{ 
    text-align: center;
}

#SU{
    color:white;
    background-color: black;
    border: 3px solid black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    line-height: 0px;
}
#UNIQUE{
  color:black;
  background-color: #E6C744;
  border: 2px solid #E6C744;
  border-radius: 2px;
  text-decoration: none;
  line-height: 0px;

}


.top-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    font-size: 47px;
}

#LIVE_FOR{
  font-size: 15px;
  line-height: 0px;

} 
 
body{
  font-family: "Poppins", sans-serif;
}

.hub{
  background-color: #E6C744;
  border: 2px solid #E6C744;
  
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 15px;
}

#NA{
  font-size: 30px;
  display: flex;
  align-self: flex-start;
  flex-direction: row;

  padding: 100px;
}

.new_arrivals{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around ;
}

.new_arrivals_img{
  display: flex;
  justify-content: space-around ;
  width: 100%;
}
.new_arrivals_img{
  border-radius: 15px;

}

#na_c_c{
  color: #C2C8DA;
}

.first_footer{
  color: white;

  font-size: 25px;
  
  background-color: #E6C744;
  border: 2px solid #E6C744;

  padding: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.second_footer{
  color: white;

  font-size: 25px;
  
  background-color: #000000;
  border: 2px solid #000000;

  padding: 50px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#add_email{
  color: #C2C8DA;
  background-color: #ffffff;
  border: 15px solid #ffffff;

  border-radius: 5px;

}

#send{
  color: #ffffff;
  background-color: #000000;
  border: 10px solid #000000;

  border-radius: 5px;
}

.second_footer{
  padding: 20px;
  gap:10px;
  display: flex;
  align-items: center;
  justify-content: space-around ;
}









.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  